# Среда разработки
venv/
env/
.env

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# База данных (если используешь стандартную SQLite)
db.sqlite3

# Медиафайлы (загруженные пользователями картинки и т.д.)
media/